{% extends 'base.html.twig' %}

{% block title %}Hello PersonnageController!{% endblock %}

{% block monTitre %}Exercice Symfony 5 et Twig{% endblock %}

{% block body %}
<h2 class="mt-4 text-center">Liste de personnages et armes en POO sans BDD </h2>
{% endblock %}
